.topbar{
    display: flex;
    top: 0%;
    left: 0%;
    right: 0%;
}

.name{
   letter-spacing: 3px;
   text-align: center;
}

.image{
    display: flex;
    justify-content: center;
}

.border{
    border: 5px solid white;
    width: 350px;
    margin: 5px;
}

.links{
    color: black;
}
